body {
  background: lightblue;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.long-description {
  max-width: 220px;
}

.image-container {
  max-width: 24vw;
}

.flex {
  display: flex;
}

.flex-item {
  height: 100%;
}